/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(232, 240, 248);
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 25px;
}

.top-text {
    margin-bottom: 3rem;
    text-align: center;
}
.title-text {
    margin-bottom: 0.6rem;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: rgb(33, 33, 51);
}
.sub-text {
    font-size: 18px;
    color: rgb(134, 134, 140);
}

/* main block */

.main-block {
    background-color: white;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(207, 223, 236);
}

/* price-block */

.price-block {
	display: flex;
	align-items: center;
	gap: 5rem;
	margin-bottom: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}
.range-price  {
    text-align: center;
}
.range {
    width: 100%;
}
.left-side {
    letter-spacing: 0.2em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(95, 95, 99);
}

.right-side {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.right-side span {
    font-weight: 400;
    font-size: 16px;
}

input[type="range"] {
    cursor: pointer;
    /* Убираем стандартные стили */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background-color: rgb(224, 228, 228); /* Фон трека */
    border-radius: 5px; /* Скругление углов трека */
  }
  
  /* Стили полоски, которая изменяется, для Firefox */
  input[type="range"]::-moz-range-progress {
    height: 8px;
    border-radius: 8px;
    background-color: rgb(101, 230, 174); /* Цвет заполненной части трека */
  }
  
  /* Стили ползунка для Firefox */
  input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background-color: rgb(101, 230, 174);
    border-radius: 50%;
    border: none;
    margin-top: -6px;
    box-shadow: 0px 10px 20px rgb(101, 230, 174);
  }



  /* trial block */

.trail-button-block {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.advantage ul {
    list-style-type: none;
}

.advantage ul li {
    margin-bottom: 10px;
    color: rgb(134, 134, 140);
    font-size: 13px;
}

.trail-button {
    padding: 15px 50px;
    background-color: rgb(38, 38, 61);
    border-radius: 50px;
    color: white;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

hr {
    border: 1px solid rgb(239, 239, 239);
}

/* mobile */
@media (max-width: 425px) {
    .trail-button-block {
        justify-content: center;
        text-align: center;
    }
    .main-block {
        padding: 20px;
    }
}
